# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Env
.env
*.env

# Node
node_modules/
.next/
.vercel/

# DB
postgres_data/
*.db

# Playwright
jobradar-frontend/test-results/
jobradar-frontend/playwright-report/

# OS
.DS_Store
Thumbs.db
